{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="site-section border-bottom" data-aos="fade">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-6">
              <div class="block-16">
                <figure>
                  <img src="{% static 'img/blog.jpg' %}" alt="Image placeholder" class="img-fluid rounded">
                </figure>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              
              
              <div class="site-section-heading pt-3 mb-4">
                <h2 class="text-black">About our project</h2>
              </div>
              <p>We have created an ecommerce website using Django as the web framework</p>
              <p>We did this as a part of our Industrial Training in SIT</p>              
            </div>
          </div>
        </div>
      </div>
{% endblock %}