{% extends "base/base.html" %}
{% block content %}
{% load static %}
<div class="site-blocks-cover" style="background-image:url({% static 'img/blog_1.jpg' %})" data-aos="fade">
    <div class="container">
      <div class="row align-items-start align-items-md-center justify-content-start">
        <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
          <h1 class="mb-2">Finding Your Favourite Fashion</h1>
          <div class="intro-text text-center text-md-left">
            <p class="mb-4"></p>
            <p>
              <a href="{% url 'shop' %}" class="btn btn-sm btn-primary">Shop Now</a>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
{% if featured %}
    <div class="site-section block-3 site-blocks-2 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 site-section-heading text-center pt-4">
                        <h2>{{ text }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="nonloop-block-3 owl-carousel">
                        {% for feature in featured %}
                        <div class="item">
                            <div class="block-4 text-center">
                                <figure class="block-4-image">
                                        <a href="{{ feature.get_absolute_url }}"><img src="{{ feature.image.url }}" alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="{{ feature.get_absolute_url }}">{{ feature.title }}</a></h3>
                                    <p class="text-secondary font-weight-bold">₹{{ feature.price }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}