
{% extends "base/base.html" %}
{% block content %}

    {% for product in object_list %}
        <div class="item">
            <div class="block-4 text-center">
                <figure class="block-4-image">
                    <img src="{{ product.image.url }}" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                    <h3><a href="#">{{ product.title }}</a></h3>
                        <p class="mb-0">{{ product.description }}</p>
                        <p class="text-primary font-weight-bold">₹ {{ product.price }}</p>
                </div>
            </div>
        </div>
{% endfor %}
{% endblock %}